---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About ilkley tradtional thai massage</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/massage-therapy-1612308_1280.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/massage-therapy-1612308_1280.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/massage-therapy-1612308_1280.jpg" alt="kitchen cabinets" loading="eager" width="1000" height="1667">
        </picture>

    </section>



<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-303">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Welcome to Ilkley Traditional Thai Massage

            </h1>
            <p class="cs-text">
                At Ilkley Traditional Thai Massage, we bring authentic Thai wellness to the heart of England. Founded by an experienced practitioner from Roi Et, Northeast Thailand, who moved to England in 2005, our spa combines nearly a decade of experience with a commitment to excellence and holistic well-being.
                </p>
        <p class = "cs-text">
            Our dedication to traditional Thai massage has shaped our spa into a tranquil haven. We personalize each treatment to meet your unique needs for physical and mental rejuvenation, ensuring your well-being is our top priority.

Discover the transformative power of a bespoke spa experience at Ilkley Traditional Thai Massage.
                
            </p>
            
 
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-cottonbro-3997986.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-cottonbro-3997986.jpg">
            <source media="(min-width: 1024px)" srcset="/assets/images/pexels-cottonbro-3997986.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pexels-cottonbro-3997986.jpg" alt="lawyer" width="630" height="814">
        </picture>
        <!--Green Waves-->
        <picture class="cs-waves">
            <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/waves.svg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/waves-t.svg">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/waves-m.svg">
            <img decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/waves.svg" alt="waves" width="645" height="1080" aria-hidden="true">
        </picture>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}