---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-elly-fairytale-3865528-_1_.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-elly-fairytale-3865528-_1_.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/pexels-elly-fairytale-3865528-_1_.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Our Thai Massage Services</h2>
            </div>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-cottonbro-3997986.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-cottonbro-3997986.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-cottonbro-3997986.jpg" alt="bathroom" width="413" height="450">
                        </picture>

                        <p class="cs-item-text">
                            Indulge in the ancient art of Thai massage, blending acupressure and stretching techniques to relieve tension, enhance flexibility, and restore balance for ultimate relaxation and well-being.







                        </p>
                        <span class="cs-number">01</span>
                    </div>
                    <h3 class="cs-h3">Traditional Thai massage</h3>
                    <h2 class = 'price1'>30£/30m | 50£/60m | 80£ / 90m</h2>
                        <h2 class = 'price1'>100£ 120m<h2>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="src\assets\images\secondimage.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/secondimage.webp">
                            <img loading="lazy" decoding="async" src="src/assets/images/secondimage.webp" alt="bathroom" width="413" height="450">
                        </picture>

                        <p class="cs-item-text">
                            Unwind with our traditional hot oil massage, where heated oils deeply penetrate muscles, promoting circulation and soothing soreness for a rejuvenating and invigorating experience.







                        </p>
                        <span class="cs-number">02</span>
                    </div>
                    <h3 class="cs-h3">Thai hot Oil Massage</h3>
                    <h2 class = 'price1'>30£/30m | 55£/60m | 80£ 100m</h2>
                    <h2 class = 'price1'>100£/120m<h2>
                        
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-dashamak-10832255.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-dashamak-10832255.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-dashamak-10832255.webp" alt="bathroom" width="413" height="450">
                        </picture>

                        <p class="cs-item-text">
                            Revitalize tired feet with our Thai foot massage, focusing on pressure points to release tension, improve circulation, and induce deep relaxation, leaving you feeling refreshed and re-energized from toe to heel.







                        </p>
                        <span class="cs-number">03</span>
                    </div>
                    <h3 class="cs-h3">Thai Foot Massage</h3>
                    <h2 class = 'price1'>60£/60m | 90£/90m</h2>
                    <h2 class = 'price1'> 120£/ 120m</h2></h2>
                </a>
            </li>
        </ul>
    </div>
</section>
  <!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
            </div>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-cottonbro-4155445 (1).jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-cottonbro-4155445 (1).jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-cottonbro-4155445 (1).jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header"></span>
                        <span class="cs-header">   </span>
                        <p class="cs-item-text">
                            Treat your feet to a luxurious foot spa experience, featuring gentle exfoliation, moisturizing massage, and soothing heat therapy to relax tired muscles and leave your feet feeling soft, refreshed, and pampered.
                            





                        </p>
                        <span class="cs-number">04</span>
                    </div>
                    <h3 class="cs-h3">Foot Spa</h3>
                    <h2 class = 'price1'>50£/60<h2>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-cottonbro-3997982.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-cottonbro-3997982.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-cottonbro-3997982.webp" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">
   
                        </span>
                        <p class="cs-item-text">
                            Experience pure relaxation with our facial massage treatment, combining gentle techniques to improve circulation, reduce tension, and promote a radiant complexion, leaving your skin refreshed, rejuvenated, and glowing with natural beauty.






                        </p>

                        <span class="cs-number">05</span>
                    </div>
                    <h3 class="cs-h3">
                        Facial Massage Treatments
                        </h3>
                        <h2 class = 'price1'>60£/60m | 90£/90m | 120£ 120m<h2>
                            
    

                        
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-shkrabaanthony-4599392.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-shkrabaanthony-4599392.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-shkrabaanthony-4599392.webp" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">   </span>

                        </p>
                     <p class = "cs-item-text">                            Revitalize your body with our Full Body Lymphatic Drainage Treatment. Expert therapists use gentle strokes to stimulate lymphatic flow, reducing swelling, detoxifying the body, and promoting overall wellness for a refreshed and rejuvenated feeling.
                    </p>
                        <span class="cs-number">06</span>
                    </div>
                    <h3 class="cs-h3">Full Body Lymphatic Drainage </h3>
                    <h2 class = 'price1'>120£/120m<h2></h2>
                </a>
            </li>
        </ul>
    </div>
</section>
  <!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
            </div>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-brunogobofoto-5485460.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-brunogobofoto-5485460.webp">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                       <p class="cs-item-text">
                            Recover and rejuvenate with our sports massage, tailored to target specific muscle groups, alleviate tension, and enhance flexibility, promoting faster recovery and optimal performance for athletes and active individuals alike.





                        </p>
                        <span class="cs-number">07</span>
                    </div>
                    <h3 class="cs-h3">Sports Massage</h3>
                    <h2 class = 'price1'>55£/60m | 80£/90m | 100£/120m<h2></h2>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-anntarazevich-6560289.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-anntarazevich-6560289.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-anntarazevich-6560289.webp" alt="bathroom" width="413" height="450">
                        </picture>

                        <p class="cs-item-text">
                            Unwind with our deep tissue massage, expertly targeting deeper layers of muscle and connective tissue to release chronic tension, alleviate pain, and restore mobility, leaving you feeling revitalized and free from muscular discomfort.


                        </p>
                        <span class="cs-number">08</span>
                    </div>
                    <h3 class="cs-h3">Deep Tissue Thai Massage</h3>
                    <h2 class = 'price1'>60£/60m | 90£/90m | 120£ 120m<h2></h2>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/pexels-rdne-8312830.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/pexels-rdne-8312830.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/pexels-rdne-8312830.webp" alt="bathroom" width="413" height="450">
                        </picture>
                           <p class="cs-item-text">
                            Elevate your relaxation with our dry cupping and oil massage. Experience the combined benefits of traditional cupping therapy and soothing oil massage, promoting deep muscle relaxation, improved circulation, and overall rejuvenation for a truly indulgent experience.



                        </p>
                        <span class="cs-number">09</span>
                    </div>
                    <h3 class="cs-h3">Dry Cupping and Hot Oil Massage (does not draw blood) </h3>
                    <h2 class = 'price1'>60£/60m | 90£/90m | 120£ 120m<h2></h2>
                </a>
            </li>
        </ul>
    </div>
</section>
    {% include 'components/cta.html' %}

{% endblock %}