/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-856 {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-856 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-856 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-856 .cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-856 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-856 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }
  #hero-856 .cs-button-solid {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    line-height: 3.125em;
    height: 3.125rem;
    text-align: center;
    padding: 0 1.875rem;
    border-radius: 1.5rem 0 1.5rem 0;
    position: relative;
    z-index: 1;
    background-color: var(--primary);
    color: #fff;
    transition: background-color 0.3s, border-radius 0.3s;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-856 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.5rem 0 1.5rem 0;
    transition: width 0.3s;
  }
  #hero-856 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-856 .cs-picture {
    width: 100%;
    max-width: 35.625rem;
    /* 400px - 712px */
    height: clamp(25rem, 95vw, 44.5rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #hero-856 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    /* ensures the top of the images is at the top of the container, no heads getting cut off */
    object-position: top;
  }
  #hero-856 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 320%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-856 {
    text-align: left;
  }
  #hero-856 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-856 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #hero-856 .cs-title,
  #hero-856 .cs-text {
    text-align: left;
  }
  #hero-856 .cs-picture {
    /* 623px - 814px */
    height: clamp(38.9375rem, 60vw, 50.875rem);
  }
  #hero-856 .cs-wave {
    width: 100%;
    left: 0;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-856 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #hero-856 .cs-title,
  body.dark-mode #hero-856 .cs-text,
  body.dark-mode #hero-856 .cs-number,
  body.dark-mode #hero-856 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-856 .cs-wave path {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1885 {
    padding: var(--sectionPadding);
    background-color: #faf6f2;
    position: relative;
    /* because the graphics are absolutely positioned, with some overflow above/below the image groups, we can use the em scaling with margins to set the distance on mobile. these get removed on larger screens */
  }
  #faq-1885 .cs-container {
    width: 100%;
    /* changes to 1720px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #faq-1885 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1885 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #faq-1885 .cs-flex-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #faq-1885 .cs-image-group {
    font-size: min(3.82vw, 0.9rem);
    width: 23.8125em;
    height: 34.4375em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #faq-1885 .cs-image-group-left {
    margin-bottom: 4.5em;
  }
  #faq-1885 .cs-image-group-right {
    margin-top: 3.375em;
  }
  #faq-1885 .cs-picture {
    width: 23.8125em;
    height: 34.4375em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 0.5em solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #faq-1885 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #faq-1885 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #faq-1885 .cs-twirl {
    width: 11.0625em;
    height: auto;
    top: 0.9375em;
    right: 0;
    z-index: 1;
  }
  #faq-1885 .cs-peach-left {
    width: 5.375em;
    height: auto;
    top: -0.5625em;
    right: 5.6875em;
  }
  #faq-1885 .cs-beige {
    width: 23.75em;
    height: auto;
    right: 0;
    bottom: -2.9375em;
    z-index: -3;
  }
  #faq-1885 .cs-leaf-left {
    width: 10.9375em;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  #faq-1885 .cs-dots {
    width: 8.6875em;
    height: auto;
    top: -1.625em;
    left: 0;
  }
  #faq-1885 .cs-brown {
    width: 12.6875em;
    height: auto;
    top: 0;
    right: 0;
    z-index: -3;
  }
  #faq-1885 .cs-peach-right {
    width: 2.9375em;
    height: auto;
    right: 1.9375em;
    bottom: 1.5em;
  }
  #faq-1885 .cs-leaf-right {
    width: 10.0625em;
    height: auto;
    right: 0;
    bottom: 0;
  }
  #faq-1885 .cs-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #faq-1885 .cs-faq-item {
    list-style: none;
    width: 100%;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq-1885 .cs-faq-item.active .cs-button {
    background-color: #8f5b34;
    color: var(--bodyTextColorWhite);
  }
  #faq-1885 .cs-faq-item.active .cs-button:before {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(315deg);
  }
  #faq-1885 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(-315deg);
  }
  #faq-1885 .cs-faq-item.active .cs-item-text {
    height: auto;
    /* set the margin and paddings only when the item is active so we don't create space when the item is closed */
    margin-top: 0.5rem;
    padding: 1rem 1.5rem;
    opacity: 1;
  }
  #faq-1885 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    background-color: var(--secondary);
    color: var(--headerColor);
    border: none;
    border-radius: 3.75rem;
    display: block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1885 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1885 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 1.5625rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
  }
  #faq-1885 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 1.6875rem;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
  }
  #faq-1885 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.975rem, 1.5vw, 1rem);
    line-height: 1.5em;
    height: 0;
    margin: 0;
    background-color: #fff;
    /* clips the text so it doesn't show up */
    overflow: hidden;
    color: var(--bodyTextColor);
    opacity: 0;
    border-radius: 1.5rem;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1885 .cs-container {
    max-width: 107.5rem;
  }
  #faq-1885 .cs-flex-group {
    flex-direction: row;
    justify-content: space-between;
    /* 16px - 40px */
    gap: clamp(1rem, 1vw, 2.5rem);
  }
  #faq-1885 .cs-image-group {
    font-size: min(0.9vw, 1em);
    margin: 0;
  }
  #faq-1885 .cs-image-group-left {
    align-self: flex-start;
  }
  #faq-1885 .cs-image-group-right {
    align-self: flex-end;
  }
  #faq-1885 .cs-faq-group {
    width: 47%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1885 {
    background-color: var(--dark);
  }
  body.dark-mode #faq-1885 .cs-title,
  body.dark-mode #faq-1885 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-picture {
    border-color: var(--accent);
  }
  body.dark-mode #faq-1885 .cs-graphic {
    opacity: 0.6;
  }
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button:before,
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-item-text {
    background-color: var(--accent);
  }
  body.dark-mode #faq-1885 .cs-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-button:before,
  body.dark-mode #faq-1885 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
.price1 {
  color: #babd04;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1354 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 10;
  }
  #services-1354 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 6vw, 4rem);
    border: #8f5b34;
  }
  #services-1354 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1354 .cs-topper {
    color: #767676;
  }
  #services-1354 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #services-1354 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1354 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 19.0625rem;
    margin: 0;
    padding: 0;
    background-color: #000;
    border-radius: 1.5rem;
    /* clips background image corners */
    overflow: hidden;
    box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
  #services-1354 .cs-item:hover .cs-background:before {
    background-color: var(--primary);
    opacity: 0.84;
  }
  #services-1354 .cs-item:hover .cs-background img {
    transform: scale(1.2);
  }
  #services-1354 .cs-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
    padding: 1.5rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #services-1354 .cs-h3 {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #services-1354 .cs-span {
    /* forces the h3 to alwasy be two lines */
    display: block;
  }
  #services-1354 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1354 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1354 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    transition: transform 0.6s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #services-1354 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1354 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #services-1354 .cs-item {
    grid-column: span 3;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1354 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #services-1354 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
