/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-856 {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-856 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-856 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-856 .cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-856 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-856 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }
  #hero-856 .cs-button-solid {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    line-height: 3.125em;
    height: 3.125rem;
    text-align: center;
    padding: 0 1.875rem;
    border-radius: 1.5rem 0 1.5rem 0;
    position: relative;
    z-index: 1;
    background-color: var(--primary);
    color: #fff;
    transition: background-color 0.3s, border-radius 0.3s;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-856 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.5rem 0 1.5rem 0;
    transition: width 0.3s;
  }
  #hero-856 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-856 .cs-picture {
    width: 100%;
    max-width: 35.625rem;
    /* 400px - 712px */
    height: clamp(25rem, 95vw, 44.5rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #hero-856 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    /* ensures the top of the images is at the top of the container, no heads getting cut off */
    object-position: top;
  }
  #hero-856 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 320%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-856 {
    text-align: left;
  }
  #hero-856 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-856 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #hero-856 .cs-title,
  #hero-856 .cs-text {
    text-align: left;
  }
  #hero-856 .cs-picture {
    /* 623px - 814px */
    height: clamp(38.9375rem, 60vw, 50.875rem);
  }
  #hero-856 .cs-wave {
    width: 100%;
    left: 0;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-856 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #hero-856 .cs-title,
  body.dark-mode #hero-856 .cs-text,
  body.dark-mode #hero-856 .cs-number,
  body.dark-mode #hero-856 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-856 .cs-wave path {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .services {
    width: 90%;
    max-width: 82.5em;
    margin: auto;
    margin-top: calc(-167 / 16 * 1em);
    margin-bottom: 3.125em;
    padding: 3.125em 1.25em;
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    border-top: 0.375em solid var(--primary);
    border-radius: 0.3125em;
    position: relative;
    z-index: 100;
  }
  .services .card {
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
    display: block;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
  .services .card picture {
    width: 5.5em;
    height: 5.5em;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services .card picture img {
    width: 3em;
    height: 3em;
  }
  .services .card h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.35em;
    text-align: center;
    margin-bottom: 0.65em;
    color: #1a1a1a;
  }
  .services .card p {
    line-height: 1.33333333em;
    text-align: center;
    width: 100%;
    opacity: 0.7;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    font-size: min(1.8vw, 1em);
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .services .card {
    max-width: 20.3125em;
    margin: 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1885 {
    padding: var(--sectionPadding);
    background-color: #faf6f2;
    position: relative;
    /* because the graphics are absolutely positioned, with some overflow above/below the image groups, we can use the em scaling with margins to set the distance on mobile. these get removed on larger screens */
  }
  #faq-1885 .cs-container {
    width: 100%;
    /* changes to 1720px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #faq-1885 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1885 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #faq-1885 .cs-flex-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #faq-1885 .cs-image-group {
    font-size: min(3.82vw, 0.9rem);
    width: 23.8125em;
    height: 34.4375em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #faq-1885 .cs-image-group-left {
    margin-bottom: 4.5em;
  }
  #faq-1885 .cs-image-group-right {
    margin-top: 3.375em;
  }
  #faq-1885 .cs-picture {
    width: 23.8125em;
    height: 34.4375em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 0.5em solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #faq-1885 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #faq-1885 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #faq-1885 .cs-twirl {
    width: 11.0625em;
    height: auto;
    top: 0.9375em;
    right: 0;
    z-index: 1;
  }
  #faq-1885 .cs-peach-left {
    width: 5.375em;
    height: auto;
    top: -0.5625em;
    right: 5.6875em;
  }
  #faq-1885 .cs-beige {
    width: 23.75em;
    height: auto;
    right: 0;
    bottom: -2.9375em;
    z-index: -3;
  }
  #faq-1885 .cs-leaf-left {
    width: 10.9375em;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  #faq-1885 .cs-dots {
    width: 8.6875em;
    height: auto;
    top: -1.625em;
    left: 0;
  }
  #faq-1885 .cs-brown {
    width: 12.6875em;
    height: auto;
    top: 0;
    right: 0;
    z-index: -3;
  }
  #faq-1885 .cs-peach-right {
    width: 2.9375em;
    height: auto;
    right: 1.9375em;
    bottom: 1.5em;
  }
  #faq-1885 .cs-leaf-right {
    width: 10.0625em;
    height: auto;
    right: 0;
    bottom: 0;
  }
  #faq-1885 .cs-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #faq-1885 .cs-faq-item {
    list-style: none;
    width: 100%;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq-1885 .cs-faq-item.active .cs-button {
    background-color: #8f5b34;
    color: var(--bodyTextColorWhite);
  }
  #faq-1885 .cs-faq-item.active .cs-button:before {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(315deg);
  }
  #faq-1885 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(-315deg);
  }
  #faq-1885 .cs-faq-item.active .cs-item-text {
    height: auto;
    /* set the margin and paddings only when the item is active so we don't create space when the item is closed */
    margin-top: 0.5rem;
    padding: 1rem 1.5rem;
    opacity: 1;
  }
  #faq-1885 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    background-color: var(--secondary);
    color: var(--headerColor);
    border: none;
    border-radius: 3.75rem;
    display: block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1885 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1885 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 1.5625rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
  }
  #faq-1885 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 1.6875rem;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
  }
  #faq-1885 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.975rem, 1.5vw, 1rem);
    line-height: 1.5em;
    height: 0;
    margin: 0;
    background-color: #fff;
    /* clips the text so it doesn't show up */
    overflow: hidden;
    color: var(--bodyTextColor);
    opacity: 0;
    border-radius: 1.5rem;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1885 .cs-container {
    max-width: 107.5rem;
  }
  #faq-1885 .cs-flex-group {
    flex-direction: row;
    justify-content: space-between;
    /* 16px - 40px */
    gap: clamp(1rem, 1vw, 2.5rem);
  }
  #faq-1885 .cs-image-group {
    font-size: min(0.9vw, 1em);
    margin: 0;
  }
  #faq-1885 .cs-image-group-left {
    align-self: flex-start;
  }
  #faq-1885 .cs-image-group-right {
    align-self: flex-end;
  }
  #faq-1885 .cs-faq-group {
    width: 47%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1885 {
    background-color: var(--dark);
  }
  body.dark-mode #faq-1885 .cs-title,
  body.dark-mode #faq-1885 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-picture {
    border-color: var(--accent);
  }
  body.dark-mode #faq-1885 .cs-graphic {
    opacity: 0.6;
  }
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button:before,
  body.dark-mode #faq-1885 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-item-text {
    background-color: var(--accent);
  }
  body.dark-mode #faq-1885 .cs-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1885 .cs-button:before,
  body.dark-mode #faq-1885 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1842 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #pricing-1842:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.03;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #pricing-1842 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #pricing-1842 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
  }
  #pricing-1842 .cs-topper {
    color: var(--secondary);
  }
  #pricing-1842 .cs-title {
    max-width: none;
    margin: 0;
  }
  #pricing-1842 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    /* 16px - 60px */
    gap: clamp(1rem, 2vw, 3.75rem);
    position: relative;
  }
  #pricing-1842 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 60px - 80px top *
            /* 32px - 40px left & right */
    padding: clamp(3.75rem, 8vw, 5rem) clamp(2rem, 4vw, 2.5rem);
    overflow: hidden;
    background-color: #fff;
    border-radius: 30.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #pricing-1842 .cs-item:before {
    /* Background color */
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.05;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-1842 .cs-item:after {
    /* border color */
    content: '';
    border: 8px solid var(--primary);
    box-sizing: border-box;
    border-radius: 30.625rem;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 10;
    /* keeps mouse from interacting with it */
    pointer-events: none;
  }
  #pricing-1842 .cs-item.cs-popular {
    background-color: var(--primary);
  }
  #pricing-1842 .cs-item.cs-popular:after {
    border-color: #fff;
    opacity: 0.7;
  }
  #pricing-1842 .cs-item.cs-popular .cs-ul:before {
    background-color: #fff;
    opacity: 0.7;
  }
  #pricing-1842 .cs-item.cs-popular .cs-package {
    background-color: #fff;
  }
  #pricing-1842 .cs-item.cs-popular .cs-price,
  #pricing-1842 .cs-item.cs-popular .cs-li {
    color: var(--bodyTextColorWhite);
  }
  #pricing-1842 .cs-item.cs-popular .cs-li.cs-disabled {
    filter: brightness(550%);
  }
  #pricing-1842 .cs-item.cs-popular .cs-button-solid {
    background-color: #fff;
    color: var(--primary);
  }
  #pricing-1842 .cs-item.cs-popular .cs-button-solid:hover {
    background-color: #ffffff;
  }
  #pricing-1842 .cs-package {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    width: 12.4375rem;
    /* 16px - 20px bottom */
    margin: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    overflow: hidden;
    color: var(--primary);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #pricing-1842 .cs-package:before {
    /* Background color */
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-1842 .cs-price {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--headerColor);
  }
  #pricing-1842 .cs-ul {
    width: 100%;
    /* 32px - 40px */
    margin: clamp(2rem, 4vw, 2.5rem) 0 auto;
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #pricing-1842 .cs-ul:before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary);
    opacity: 0.3;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #pricing-1842 .cs-li {
    font-size: 1.375rem;
    font-weight: 400;
    font-weight: bold;
    line-height: 1.5em;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #pricing-1842 .cs-li.cs-disabled {
    opacity: 0.5;
  }
  #pricing-1842 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #pricing-1842 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-1842 .cs-button-solid:hover:before {
    width: 100%;
  }
  #pricing-1842 .cs-button-solid {
    margin-top: 2rem;
    padding: 0 3rem;
    border-radius: 3.75rem;
    overflow: hidden;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1842 .cs-item {
    width: 48%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-1842 .cs-card-group {
    flex-wrap: nowrap;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-1842 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #pricing-1842 .cs-item {
    background-color: var(--dark);
    border-color: var(--medium);
  }
  body.dark-mode #pricing-1842 .cs-item:before {
    background-color: #000;
    opacity: 0.3;
  }
  body.dark-mode #pricing-1842 .cs-item:after {
    opacity: 0.8;
  }
  body.dark-mode #pricing-1842 .cs-item.cs-popular {
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  body.dark-mode #pricing-1842 .cs-item.cs-popular .cs-package {
    border: 1px solid #fff;
    background-color: transparent;
  }
  body.dark-mode #pricing-1842 .cs-item.cs-popular .cs-package:before {
    display: none;
  }
  body.dark-mode #pricing-1842 .cs-package {
    color: var(--headerColor);
  }
  body.dark-mode #pricing-1842 .cs-price,
  body.dark-mode #pricing-1842 .cs-li,
  body.dark-mode #pricing-1842 .cs-package {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-1842 .cs-package:before {
    opacity: 0.5;
  }
  body.dark-mode #pricing-1842 .cs-li {
    opacity: 0.8;
  }
  body.dark-mode #pricing-1842 .cs-li.cs-disabled {
    opacity: 0.4;
  }
}
